@using WebApp.Models
@model PaginatedViewModel;
@{
    int calculateNumberOfPages()
    {
        if (Model.TotalTransactions <= 8)
            return 1;
        else
        {
            if (Model.TotalTransactions % 8 > 0)
                return (Model.TotalTransactions / 8) + 1;
            else
                return (Model.TotalTransactions / 8);
        }
    }
    int numberOfPages = calculateNumberOfPages();
}


<h3>All Transactions</h3>

<div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th>
                            Transaction Id
                        </th>
                        <th class="" aria-controls="transactionTable" rowspan="1" colspan="1" aria-sort="descending">
                            Operation Type
                        </th>
                        <th class="">
                            Amount
                        </th>
                        <th>
                            Destiantion Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Transactions)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.OperationType</td>
                            <td>@item.Amount</td>
                            <td>@item.DestinationFirstName @item.DestinationLastName</td>
                            <td>
                                <a href="~/Transaction/Details/@ViewBag.accId/@item.Id">
                                    <input value="Details" class="btn btn-outline-secondary" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="dataTables_paginate">
        <ul class="pagination">
            <li class="page-item previous">
                <a href="~/Transaction/Index/@ViewBag.accId?PageNumber=@(ViewBag.Previous)&PageSize=8" class="page-link">
                    Previous
                </a>
            </li>
            @for (int i = 0; i < numberOfPages; ++i)
            {
                if (ViewBag.CurrentPage == (i + 1)) {
                    <li class="page-item active">
                        <a href="~/Transaction/Index/@ViewBag.accId?PageNumber=@(i+1)&PageSize=8" class="page-link">
                            @(i + 1)
                        </a>
                    </li>
                } else {
                    <li class="page-item">
                        <a href="~/Transaction/Index/@ViewBag.accId?PageNumber=@(i+1)&PageSize=8" class="page-link">
                            @(i + 1)
                        </a>
                    </li>
                }
            }
            <li class="page-item">
                <a href="~/Transaction/Index/@ViewBag.accId?PageNumber=@(ViewBag.Next)&PageSize=8" class="page-link">
                    Next
                </a>
            </li>
        </ul>
    </div>
    <div class="p-2">
        <a href="~/Account/Index/@ViewBag.accId"><input class="btn btn-secondary p-1" value="Back to Account" /></a>
    </div>
</div>
