@using WebApp.Models
@model PaginatedViewModel;

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
<link rel="stylesheet" href="~/lib/datatables/css/datatables.bootstrap4.min.css" />
<h3>Transactions</h3>
<div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover dataTable" id="transactionTable">
                <thead>
                    <tr>
                        <th aria-controls="transactionTable">
                            Transaction Id
                        </th>
                        <th aria-controls="transactionTable" id="operation-sort" class="operation-type">
                            Operation Type
                        </th>
                        <th aria-controls="transactionTable" id="amount-sort" class="amount-currency">
                            Amount
                        </th>
                        <th aria-controls="transactionTable">
                            First Name
                        </th>
                        <th aria-controls="transactionTable">
                            Last Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="p-2">
        <a href="~/Account/Index/@ViewBag.accId">
            <input type="button" class="btn btn-secondary p-1 text-bolded" value="Back to Account" />
        </a>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    @* <script src="~/lib/datatables/js/jquery.datatables.min.js"></script> *@
    @* <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script> *@
    <script src="~/js/Transaction/Index-Sorting.js" asp-append-version="true"></script>
}





























@*PARTEA DE PREZENTARE A DATELOR*@

@* <tbody>
    @foreach (var item in Model.Transactions)
    {
        <tr>
            <td class="align-content-center">@item.Id</td>
            <td class="align-content-center">@item.OperationType</td>
            <td class="align-content-center">@item.Amount $</td>
            <td class="align-content-center">@item.DestinationFirstName @item.DestinationLastName</td>
            <td class="align-content-center">
                <a href="~/Transaction/Details/@ViewBag.accId/@item.Id">
                    <input type="button" value="Details" class="btn btn-outline-secondary" />
                </a>
            </td>
        </tr>
    }
</tbody> *@

@*PARTEA PENTRU PAGINARE*@

@* <div class="dataTables_paginate p-2">
        <ul class="pagination">
            <li class="page-item previous">
                <a href="~/Transaction/Index/@ViewBag.accId?PageNumber=@(ViewBag.Previous)&PageSize=8@(TempData["filter"])" class="page-link">
                    Previous
                </a>
            </li>
            @for (int i = 0; i < numberOfPages; ++i)
            {
                if (ViewBag.CurrentPage == (i + 1)) {
                    <li class="page-item active">
                        <a href="~/Transaction/Index/@ViewBag.accId?PageNumber=@(i+1)&PageSize=8@(TempData["filter"])" class="page-link">
                            @(i + 1)
                        </a>
                    </li>
                } else {
                    <li class="page-item">
                        <a href="~/Transaction/Index/@ViewBag.accId?PageNumber=@(i+1)&PageSize=8@(TempData["filter"])" class="page-link">
                            @(i + 1)
                        </a>
                    </li>
                }
            }
            <li class="page-item">
                <a href="~/Transaction/Index/@ViewBag.accId?PageNumber=@(ViewBag.Next)&PageSize=8@(TempData["filter"])" class="page-link">
                    Next
                </a>
            </li>
        </ul>
    </div> *@