@using WebApp.Models.Transaction
@model WebApp.Models.ApiResponseViewModel<List<TransactionViewModel>>


<h3>All Transactions</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Transaction Id
            </th>
            <th>
                Operation Type
            </th>
            <th>
                Amount
            </th>
            <th>
                Destiantion Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.OperationType
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.DestinationFirstName @item.DestinationLastName
                </td>
            </tr>
        }
    </tbody>
</table>
