@using WebApp.Models.Account
@model DetalizedAccountViewModel;

<h3>Account Details</h3>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="p-2">
                <strong class="control-label">ID</strong>
            </div>
            <div class="form-group">
                <input asp-for="Id" class="form-control p-2" value="@Model.Id" disabled/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="p-2">
                <strong class="control-label">First Name</strong>
            </div>
            <div class="form-group">
                <input asp-for="FirstName" class="form-control p-2" value="@Model.FirstName" disabled/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="p-2">
                <strong class="control-label">Last Name</strong>
            </div>
            <div class="form-group">
                <input asp-for="LastName" class="form-control p-2" value="@Model.LastName" disabled/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="p-2">
                <strong class="control-label">Balance</strong>
            </div>
            <div class="input-group">
                <input asp-for="Balance" class="form-control p-2" value="@Model.Balance" disabled/>
                <div class="input-group-append rounded-end-2">
                    <span class="input-group-text">$</span>
                </div>
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>

            <div class="p-2">
                <strong class="control-label">Created At</strong>
            </div>
            <div class="form-group">
                <input asp-for="CreatedAt" class="form-control p-2" value="@Model.CreatedAt" disabled/>
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>

            <div class="p-2">
                <strong class="control-label">Account Status</strong>
            </div>
            <div class="form-group">
                <input asp-for="Status" class="form-control p-2" value="@Model.Status" disabled/>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group p-2">
                <a href="~/Account/Index/@Model.Id" class="p-1 link-decorator-disable">
                    <input type="button" value="Back To Index" class="btn btn-secondary text-bolded" />
                </a>
                <a href="~/Account/Update/@Model.Id" class="p-1">
                    <input type="button" value="Edit Account" class="btn btn-info text-white text-bolded" />
                </a>
            </div>
        </form>
    </div>
</div>