@using WebApp.Models.User
@model DetalizedUserViewModel;

<div>
    <h5>
        My Accounts
    </h5>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-body p-2">
                <strong>Email</strong>
                <p>@Model.Email</p>
                <hr />
                <strong>Created At</strong>
                <p>@Model.CreatedAt</p>
            </div>
        </div>
        <div>
            <a href="~/Account/Create/@Model.Id">
                <input type="button" value="Create Account" class="btn btn-outline-secondary"/>
            </a>
        </div>
    </div>
    @* <div class="col-1" style="border-left:2px solid; color:gray;"></div> *@
    <div class="align-content-center container col-8">
        @foreach (var item in Model.Accounts)
        {
            <a href="~/Account/Index/@item.Id" style="text-decoration:none;" class="link-underline-opacity-0">
                <div class="card bg-light d-flex flex-fill div-hover">
                    <div class="card-header text-muted border-bottom-0">
                        <b>@item.Id</b>
                    </div>
                    <div class="card-body p-2 row">
                        <h2 class="lead col-md-4">@item.FirstName @item.LastName</h2>
                        <p class="text-muted text-sm-center col-md-4">@item.Balance $</p>
                        <p class="text-muted text-sm-center col-md-4">@item.Status</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
        <a href="~/User/Logout">
            <input type="button" class="btn btn-secondary text-bolded" value="Log Out"/>
        </a>
    </div>
</div>

@* @foreach (var item in Model)
{
    <a href="~/Account/Index/@item.Id" style="text-decoration:none;" class="link-underline-opacity-0">
        <div class="row border border-2 rounded-2 align-content-center m-2 text-center text-dark div-hover">
            <div class="col p-3">@item.Id</div>
            <div class="col p-3">@item.Balance</div>
            <div class="col p-3">@item.Status</div>
        </div>
    </a>
} *@
@* <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>Account Id</th>
                <th>Balance</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Balance</td>
                    <td>@item.Status</td>
                    <td>
                        <a href="~/Account/Index/@item.Id">
                            <input class="btn btn-secondary p-1" value="Access"/>
                        </a>
                        <a href="">
                            <input class="btn btn-danger p-1" value="Delete"/>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table> *@