@using WebApp.Models.Account
@model IEnumerable<MinimizedAccountViewModel>;

<div>
    <h5>
        My Accounts
    </h5>
</div>
<div class="row">
    <div class="col-3">
        <div class="row p-2">
            <div><b>Email:</b></div>
            <div>test.email@email.com</div>
        </div>
        <div class="row p-2">
            <div> <b>Created At :</b></div>
            <div> 01/01/01/01:01:01 AM</div>
        </div>
    </div>
    <div class="col-1" style="border-left:2px solid; color:gray;"></div>
    <div class="align-content-center container col-8">
        @foreach (var item in Model)
        {
            <a href="~/Account/Index/@item.Id" style="text-decoration:none;" class="link-underline-opacity-0">
                <div class="row border border-2 rounded-2 align-content-center m-2 text-center text-dark div-hover">
                    <div class="col p-3">@item.Id</div>
                    <div class="col p-3">@item.Balance</div>
                    <div class="col p-3">@item.Status</div>
                </div>
            </a>
        }
    </div>
</div>

@* @foreach (var item in Model)
{
    <a href="~/Account/Index/@item.Id" style="text-decoration:none;" class="link-underline-opacity-0">
        <div class="row border border-2 rounded-2 align-content-center m-2 text-center text-dark div-hover">
            <div class="col p-3">@item.Id</div>
            <div class="col p-3">@item.Balance</div>
            <div class="col p-3">@item.Status</div>
        </div>
    </a>
} *@
@* <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>Account Id</th>
                <th>Balance</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Balance</td>
                    <td>@item.Status</td>
                    <td>
                        <a href="~/Account/Index/@item.Id">
                            <input class="btn btn-secondary p-1" value="Access"/>
                        </a>
                        <a href="">
                            <input class="btn btn-danger p-1" value="Delete"/>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table> *@