@using WebApp.Models.Account
@model DetalizedAccountViewModel;


<div class="card card-info">
    <div class="card-header">
        <h3 class="text-white">
            Edit Account
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="p-2">
                        <strong class="control-lable">ID</strong>
                    </div>
                    <div class="form-group">
                        <input asp-for="Id" class="form-control" value="@Model.Id" disabled />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="p-2">
                        <strong class="control-label">First Name</strong>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A</span>
                        </div>
                        <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="p-2">
                        <strong class="control-label">Last Name</strong>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A</span>
                        </div>
                        <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="p-2">
                        <strong class="control-label">Balance</strong>
                    </div>
                    <div class="form-group input-group">
                        <input asp-for="Balance" class="form-control" value="@Model.Balance" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text rounded-end-2">$</span>
                        </div>
                        <span asp-validation-for="Balance" class="text-danger"></span>
                    </div>

                    <div class="p-2">
                        <strong class="control-label">Created At</strong>
                    </div>
                    <div class="form-group">
                        <input asp-for="CreatedAt" class="form-control" value="@Model.CreatedAt" disabled />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>

                    <div class="p-2">
                        <strong class="control-label">Account Status</strong>
                    </div>
                    <div class="form-group">
                        <input asp-for="Status" class="form-control" value="@Model.Status" disabled />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div>
                        <a href="~/Account/Details/@Model.Id" class="p-2">
                            <input type="button" value="Back To Details" class="btn btn-secondary text-bolded" />
                        </a>
                        <button type="submit" class="btn btn-info text-white">
                            <b>Update Account</b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
